<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdmd.mgava.mypetsapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


       <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Petasy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.sdmd.mgava.mypetsapp.MainActivity" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           <activity android:name=".PetInfoDetails">
        <intent-filter>
            <action android:name="com.sdmd.mgava.mypetsapp.BrowseActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".BrowseActivity">
    </activity>
    <activity android:name=".RegisterActivity">
    </activity>
    <activity android:name=".LoginActivity">
    </activity>

    <service android:name=".UserService"
        android:enabled="true"
        android:exported="false" />
</application>
           <!--<activity-->
            <!--android:name=".CategoryList"-->
            <!--android:screenOrientation="portrait"/>-->

        <!--<activity-->
            <!--android:name=".PetList"-->
            <!--android:screenOrientation="portrait"/>-->

        <!--<activity-->
            <!--android:name=".PetInfoDetails"-->
            <!--android:screenOrientation="portrait"/>-->
        <!--<activity-->
            <!--android:name=".LoginActivity"-->
            <!--android:label="@string/title_activity_login" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".RegisterActivity"-->
            <!--android:label="@string/title_activity_register" >-->
        <!--</activity>-->
        <!--<activity android:name=".LogInActivity"-->
            <!--android:label="Log In" />-->
     <!--<activity android:name=".RegistrationActivity"-->
            <!--android:label="Register"/>-->
        <!--<activity android:name=".BrowseActivity"-->
            <!--android:label="Details"/>-->

  </manifest>
